.card {
  width: 220px;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #333;
  margin: 0 auto;
  text-align: center;
  transition: 0.2s;
  background: white;
}

.card:hover {
  transform: translateY(-8px);
}

.img {
  width: 100%;
  border-radius: 10px;
}

.name {
  margin: 8px 0;
  font-size: 18px;
}

.price {
  color: green;
  font-weight: bold;
}

.btn {
  margin-top: 10px;
  padding: 8px 10px;
  border: none;
  background: blue;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

