.badge {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 12px;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.online {
  background: green;
}
.offline {
  background: gray;
}
.busy {
  background: red;
}
